*{
   
    text-align: center;
    background-color: #ffd1df;
    /* border: 2px solid; */
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:24PX;
}
  
.jumjum{
    border-top: 1.5px solid;
    border-bottom: 1.5px solid;
    width: 100%;
    height: 100px ;
}
.mpkpeks p{
    text-align: left;
    padding: 0%;
}
.mpkpeks{
    padding: 0%;
}

.heart img{
   
width: 180px;
}
.heart{
    float: right;
    width: 200px;
    /* height: 50px; */
    padding: 0%;
}

.akl
{
    display: flex;
    justify-content: center;
    align-items: center;
}

* h1{
    font-size: 40px;
}

.tamer{
    width: 1000px;
}