*{
   
    text-align: center;
    background-color: #ffd1df;
    /* border: 2px solid; */
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:30PX;
    
}
